.heading {
    background-color: #F1E6D2;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-height: 550px;
    height: 45vh;
    overflow: hidden;
}
.heading img {
    object-fit: cover;
    width: 100%;
    max-width: 800px;
    height: 115%;
    object-position: center top;
}
.service-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
}
.my-navbar{
    background-color: #F1E6D2;
}