.heading {
    background-color: #F1E6D2;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-height: 550px;
    height: 45vh;
    overflow: hidden;
}
.heading img {
    object-fit: cover;
    width: 100%;
    max-width: 800px;
    height: 115%;
    object-position: center 18%;
}
.service-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
}
.my-navbar{
    background-color: #F1E6D2;
}

.small-image{
    max-width: 400px;
    width: 80%;
    height: auto;
}

/* Customizing container max-widths */
.container {
    max-width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px; /* Change this value as needed */
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px; /* Change this value as needed */
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 800px; /* Change this value as needed */
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 900px; /* Change this value as needed */
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1000px; /* Change this value as needed */
    }
}
