{% macro createForLang(lang, collections) %}
<section class="container">
    {% if lang == "nl" %}
        <h2>Andere blogs die je misschien leuk vindt</h2>
        <hr/>
        {% for blog in collections.dutchBlogs %}
            <section class="py-2">
                <h3>{{ blog.data.title }}</h3>
                <a href="{{ blog.page.url }}">
                    <img alt="{{ blog.data.imgAlt }}"
                         data-options="threshold:400"
                         class="Sirv img-fluid medium-image clickable-image img-thumbnail rounded-3"
                          src="https://softoft.sirv.com/gibs/{{ blog.data.mainImageName }}?q=5&w=100"
                         data-src="https://softoft.sirv.com/gibs/{{ blog.data.mainImageName }}"
                    >
                </a>
                <p>{{ blog.data.description }}</p>
                <a href="{{ blog.page.url }}">{{ blog.data.title }}</a>
            </section>
        {% endfor %}
    {% endif %}

    {% if lang == "en" %}
        <h2>Other blogs you might like</h2>
        <hr/>
        {% for blog in collections.englishBlogs %}
            <section class="py-2">
                <h3>{{ blog.data.title }}</h3>
                <a href="{{ blog.page.url }}">
                    <img alt="{{ blog.data.imgAlt }}"
                         data-options="threshold:400"
                         class="Sirv img-fluid medium-image clickable-image img-thumbnail rounded-3"
                         src="https://softoft.sirv.com/gibs/{{ blog.data.mainImageName }}?q=5&w=100"
                         data-src="https://softoft.sirv.com/gibs/{{ blog.data.mainImageName }}"
                    >
                </a>
                <p>{{ blog.data.description }}</p>
                <a href="{{ blog.page.url }}">{{ blog.data.title }}</a>
            </section>
        {% endfor %}
    {% endif %}
</section>

{% endmacro %}