:root {
    --highlight-color: #E94533;
    --background-color: #f6f1e8;
}
html{
    font-size: 12px;
}
@media (min-width: 400px){
    html{
        font-size: 14px;
    }
}
@media (min-width: 600px){
    html{
        font-size: 15px;
    }
}
@media (min-width: 800px){
    html{
        font-size: 16px;
    }
}
@media (min-width: 1000px){
    html{
        font-size: 17px;
    }
}
@media (min-width: 1400px){
    html{
        font-size: 18px;
    }
}


body {
    background-color: var(--background-color);
}

.heading > img {
    width: auto;
    max-height: 400px;
}

.service-card {
    height: 35rem;
    max-width: 25rem;
}

.service-img {
    height: 50%;
    object-fit: cover;
    object-position: 50% 2%;
}

.service-text{
    height: 9rem;
}

.highlighted-text {
    color: #550803;
}

.cost-form {
    max-width: 400px;
}

.total-cost {
    font-weight: bold;
}

.medium-image {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.small-image {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.clickable-image {
    transition: transform 0.2s, opacity 0.2s;
    cursor: pointer;
}

.clickable-image:hover {
    transform: scale(1.05);
    opacity: 0.8;
}